:root {
    --dark: #1a1a1a;
    --light: #fafafa;
    --grey: #7a7a7a;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    color: var(--dark);
    background-color: var(--light);
    background: center url('/images/wallpaper/w01.jpg');
}

.app {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px 0 rgba(26, 26, 26, .16);
    background-color: rgba(250, 250, 250, .08);
    backdrop-filter: blur(8px);
    --webkit-backdrop-filter: blur(8px);
}

.search_container {
    width: 100%;
    padding: 1em;
}

.search-group {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto 1fr auto;
}

.select_container {
    padding: .25em 0 .5em;
    color: var(--light);
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-top-left-radius: 99em;
    border-bottom-left-radius: 99em;
}

.search-engines {
    color: var(--light);
    border: 1px solid transparent;
    background-color: transparent;
}

.search-query {
    width: 100%;
    padding: 1em;
    color: var(--dark);
    border: 1px solid var(--dark);
    background-color: rgba(250, 250, 250, .16);
    backdrop-filter: blur(8px);

    &::placeholder {
        color: rgba(26, 26, 26, .75);
    }
}

.search-button {
    padding: .8em 1em .95em;
    color: var(--light);
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-top-right-radius: 99em;
    border-bottom-right-radius: 99em;
}

@media screen and (width >= 800px) {
    .search_container {
        width: 75%;
        margin-inline: auto;
    }

    .select_container {
    padding: .25em .85em .5em;
    }
}

@media screen and (width >= 1024px) {
    .search_container {
        width: 50%;
        margin-inline: auto;
    }

    .select_container {
        padding: .85em;
    }

    .search-engines,
    .search-query,
    .search-button {
        font-size: 1em;
    }

    .search-query,
    .search-button {
        padding: 1em;
    }
}